@import '../../css/variables';

.header {
  width: 100%;
  z-index: 100;
  background: $backgroundColor;

  &__search{
    margin-left: 50%;
    width: 300px;
  }

  &__link{
    font-size: 24px;
    font-family: $mainFont;
    color: $mainColor;
  }

  &__input{
    width: 220px;
    font-size: 18px;
    font-family: $mainFont;
  }

  .search-btn{
    height: 38px;
  }
}


