@import '../../css/main';

.header {
  position: sticky;
  width: 100%;
  background-color: map-get($colors, backgroundHeader) ;

  &__search{
    margin-left: 30%;
    width: 300px;
  }

  &__link{
    font-size: 24px;
    font-family: $mainFont;
    color: $mainColor;
  }

  &__input{
    width: 220px;
    font-size: 18px;
    font-family: $mainFont;
  }

  .search-btn{
    height: 38px;
    cursor:pointer;
  }

  .search-btn:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

li{
  list-style: none;
}
a{
  color: map-get($colors, mainColor);
}