* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-window {
  position: fixed;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.footer{
  height:120px;
  font-size:14px;

  &__text{
    margin:0px;
    font-size:18px;
  }
}
