@import 'main.scss';

body {
  background-color: map-get($colors, backgroundColor);
}

.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.footer{
  height:120px;
  font-size:14px;

  &__text{
    margin:0px;
    font-size:18px;
  }
}
