@import '_variables';

$colors: (
        backgroundColor: $backgroundColor,
        addColor: $addColor,
        mainColor: $mainColor,
        textMAinColor: $backgroundColor,
        textAddColor: $addColor,
);

$fonts: (
        mainFont: $mainFont,
        addFont: $addFont,
);
