@import '../../css/main.scss';

.modal-container {
  display: none;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.filter {
  position: fixed;
  z-index: 100;
  background-color: #C4C9D2;
  border-radius: 50px;
  color: map_get($colors, backgroundColor);
  padding: 30px;

  &__categories {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: calc(50% - 1.5px);
      top: calc(10%);
      width: 3px;
      border-radius: 1px;
      height: 80%;
      background-color: map_get($colors, mainColor);
    }
  }

  &__categories-item {
    background-color: map_get($colors, mainColor);
    border-radius: 11px;
    width: 45%;
    padding: 3px 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  &__categories-name {
    font-size: 17px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 7px;
      border: 8px solid transparent;
      border-left: 15px solid map_get($colors, backgroundColor);
    }
  }

  &__categories-item--active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 11px 11px 0 0;
    .filter__options-list {
      display: block;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    }

    .filter__categories-name::after {
      content: '';
      position: absolute;
      animation-name: rotate;
      animation-duration: .3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  @keyframes rotate {
    from {
      right: 0;
      top: 7px;
      transform: rotateZ(0deg);
    }
    to {
      right: 6px;
      top: 13px;
      transform: rotateZ(90deg);
    }
  }

  &__options-list {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: map_get($colors, mainColor);
    left: 0;
    border-radius: 0 0 11px 11px;
  }

  &__options-label {
    display: inline-block;
    margin: 10px;
  }

  &__options-label-number {
    width: 100%;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    font-style: italic;
  }

  &__options-check {
    margin-right: 5px;
  }

  &__options-input {
    border-radius: 5px;
    background-color: map_get($colors, backgroundColor);
    border: none;
    padding: 0 5px;
    transition: .1s;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px map_get($colors, addColor);
    }
  }

  &__options-input {
    margin-left: auto;
    margin-right: 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    border-radius: 11px;
    font-size: 20px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    transition: .2s;

    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    }

    &:focus {
      outline: none;
    }

    &.filter__submit {
      color: map_get($colors, textMainColor);
      background-color: map_get($colors, addColor);
      margin-left: 20px;
    }

    &.filter__reset {
      color: map_get($colors, textMainColor);
      background-color: #5F6B81;
    }

    &.filter__close {
      background-color: map_get($colors, mainColor);
      color: map_get($colors, textMainColor);
    }
  }
}
