@import "../../css/main.scss";

section {
  background-color: map-get($colors, backgroundColor);
  font-family: map-get($fonts, mainFont);
}
h3 {
  font-family: map-get($fonts, addFont);
  color: map-get($colors, mainColor);
}