@import '../../css/variables';


.popup-container .form-show{
    margin: auto;
    border-radius: 10px;
    display: grid;
    height: fit-content;
    padding: 20px;
    background-color: rgb(209, 202, 230);
} 

.popup-container input[type="text"]{
    margin: 17px;
    border: 0;
    width: 400px;
    font-size: 14pt;
    padding: 9px;
}

.call-me-btn{
    background-color:  rgb(126, 139, 230);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    margin: auto;
    padding: 11px;
    border: 0;
}

.btn{
    background-color:  rgb(174, 158, 223);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    margin: 10px;
}


.btn:hover{
    background-color:  rgb(156, 141, 202);
}

.popup-container{
    position: fixed;
    right: 2%;
    bottom: 20%;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.popup-container p{
    font-size: 14pt;
    text-align: center;
}

.form-show{display: grid;}
.form-hide{display: none;}
